.parallax:after {
    content: '';
    background: #333;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

.parallax-container {
    height: 350px;
}
